@model Sella_DashBoard.Models.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Price) $
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.category.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.category.CategoryName)
        </dd>

        @foreach (var item in Model.Images)
        {
            <dt class="col-sm-2">
                Image URL
            </dt>
            <dd class="col-sm-10">
                @item
            </dd>
        }

    </dl>
</div>
<div class="mt-2">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Products.CategoryID}) |
    <a asp-action="Index" class="btn btn-info mt-2">Back to List</a>
</div>
