@model IEnumerable<Sella_DashBoard.Models.Images>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-flex">Product Images Section </h1>
@*<h5 class="d-flex"> Filter by Product Name : </h5>
*@
@using (Html.BeginForm("Search", "Image", FormMethod.Get))
{
    <div class="form-group">
        <span class="text-dark p-1">Filter with Product Name:</span>
        @Html.DropDownList("products", "All Products")
        <button type="submit" class="btn btn-outline-dark">Filter</button>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr class="table-primary">
            <th class="h3">
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th class="h3">
                @Html.DisplayNameFor(model => model.product.ProductName)
            </th>
            <th class="h3">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr >
                <td class="h5">
                    @Html.DisplayFor(modelItem => item.ImageURL)
                </td>
                <td class="h5">
                    @Html.DisplayFor(modelItem => item.product.ProductName)
                </td>
                <td >
                    @Html.ActionLink("Edit", "Edit", new { id=item.ImageID },new { @class = "btn btn-warning" }) 
                    @Html.ActionLink("Details", "Details", new { id=item.ImageID },new { @class = "btn btn-info" }) 
                    @Html.ActionLink("Delete", "Delete", new { id=item.ImageID },new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
